@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 65% 95%;
    --foreground: 210 10% 23%;
    --card: 190 65% 99%;
    --card-foreground: 210 10% 23%;
    --popover: 190 65% 99%;
    --popover-foreground: 210 10% 23%;
    --primary: 210 100% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 190 50% 90%;
    --secondary-foreground: 210 50% 30%;
    --muted: 190 50% 90%;
    --muted-foreground: 190 20% 50%;
    --accent: 98 60% 70%;
    --accent-foreground: 98 50% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 30% 80%;
    --input: 190 30% 85%;
    --ring: 210 100% 60%;
    --chart-1: 210 100% 60%;
    --chart-2: 98 60% 70%;
    --chart-3: 45 90% 60%;
    --chart-4: 0 70% 65%;
    --chart-5: 270 70% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 20% 10%;
    --foreground: 190 20% 95%;
    --card: 210 20% 12%;
    --card-foreground: 190 20% 95%;
    --popover: 210 20% 10%;
    --popover-foreground: 190 20% 95%;
    --primary: 210 100% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 20%;
    --secondary-foreground: 190 20% 95%;
    --muted: 210 20% 20%;
    --muted-foreground: 190 20% 60%;
    --accent: 98 60% 70%;
    --accent-foreground: 98 50% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 210 100% 60%;
    --chart-1: 210 100% 60%;
    --chart-2: 98 60% 70%;
    --chart-3: 45 90% 60%;
    --chart-4: 0 70% 65%;
    --chart-5: 270 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
